.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ------- Product Detail Page ------- */

.product:hover{
  margin-top: 10px;
}






/* -------- Sell Cards Modal --------- */
input {
  display: block;
  width: 50%;
  margin-bottom: 10px;
}


.modalCloseBtn{
  position: absolute;
  top: 5px;
  right: 5px;

}

.modalCloseBtn button {
  border-radius: 50%;
    border: .1rem solid black;
    width: 3rem;
    height: 3rem;
    padding: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    right: .5rem;
    top: 1.5rem;
}

.main{
  background-color: rgb(197, 197, 197);
}







